/* basic browser reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* site styles  */
:root{
  --main-light-blue:#2196f3;
  --main-silver:#e8f4fe;
  --main-white:#ffffff;
  --main-black:#444444;
  --main-transiton:all 0.2s ease-in;
}


/* mobile view */