
/* styles for user-profile-user-objective-container */
.user-profile-user-objective-container{
  width:100%;
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-template-areas: "user-profile user-objective";
}
/* user profile container */
.user-profile-container{
  background-color:var(--main-light-blue);
  grid-area: user-profile;
  padding: 40px;
  color:var(--main-white);
}
.user-avatar-user-name-role-title-container{
  display:flex;
}
.user-avatar-container{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:5px solid var(--main-white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-avatar{
  width:100px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.user-name-role-title-container{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
.user-name-container{
  width:50%;
}
.user-name{
  font-size: 1em;
}
.role-title{
  font-weight: 300;
  font-size: .9em;
  letter-spacing: 2px;
}
.user-address-container{
  margin:10px 0;
}
.heading{
  font-size: 1.1em;
  font-weight: 600;
  margin:5px 0;
  text-transform: uppercase;
}
.user-address{
  width: 50%;
  font-size: .9em;
  font-weight: 300;
}
.contact-details-links-container li{
  list-style: none;
  margin: 9px 0;
  font-size: .8em;
}
.contact-item{
  text-decoration: none;
  color:var(--main-white);
}
/* ============ */
/* user objective user skills container */
.user-objective-user-skills-container{
  background-color: var(--main-silver);
  grid-area: user-objective;
  padding:40px;
  color:var(--main-black);
}
.user-objective-container{
  margin-bottom: 10px;
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

/* end of styles for user-profile-user-objective-container */
/* =========== */
/* cetifications-work-experience-container */
.cetifications-work-experience-container{
  width:100%;
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-template-areas: "user-certifications user-work-experience";
}
.certifications-languages-hobbies-container{
  grid-area:user-certifications;
  background-color: var(--main-silver);
  padding: 40px;
  color:var(--main-black);
}
.certification-container{
  display: flex;
  justify-content: space-between;
  margin:10px 0;
}
.certification-heading{
  font-size: 1em;
}
.certification-date-container{
  width:30%;
  display: flex;
  justify-content: flex-end;
}
.certification-heading-organization-title-container{
  width:70%;
}
.languages-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  margin:10px 0;
}
.hobbies-container li{
  list-style: none;
  margin:5px 0;
}
.work-experience-education-projects-container{
  grid-area:user-work-experience;
  background-color: var(--main-white);
  color:var(--main-black);
  padding: 40px;
}
.weedp-individual-item-container{
  margin:15px 0;
}
.weedp-item-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.project-link{
  text-decoration: none;
  color:var(--main-black);
}
